.title {
  font-style: normal;
  font-size: 36px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 30px;
}

.discription,
.text-img {
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}

.italic {
  font-style: italic;
}

.img {
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* margins */

.margins__title {
  font-size: 60px;
}

.margins__discription {
  margin-bottom: 0;
}

/* content */

.content__title {
  font-size: 44px;
  font-weight: bold;
}

.content {
  background-color: #F1F1F1;
  margin: 50px -30px;
  padding: 25px 45px;
  border-radius: 10px;
}

.menu__list {
  color: #02535F;
}

.menu__link {
  border-bottom: 1px solid black;
}

/* set */

.set__block {
  margin-bottom: 115px;
}

.set__block:last-child {
  margin-bottom: 0;
}

.set__img {
  margin-bottom: 0;
}

.set__img_left {
  float: left;
  margin-right: 30px;
}

.set__img_right {
  float: right;
  margin-left: 40px;
}

.set__discription {
  margin-bottom: 0;
}

/* last-element */

.last-element__depiction {
  border: 1px solid black;
  margin-bottom: 30px;
}

.last-element__img {
  margin-bottom: 0;
}

.last-element__text-img {
  color: #5E5E5E;
  padding: 15px 30px;
  margin-bottom: 0;
}

.last-element__discription {
  margin-bottom: 0;
}

/* .final */

.final__title {
  font-size: 44px;
  font-weight: bold;
}

.final {
  background-color: #F1F1F1;
  border-radius: 10px;
  margin: 0 -30px;
  padding: 25px 30px 22px 30px;
}

.final__list {
  margin-bottom: 30px;
}

.final__item {
  color: black;
  margin-bottom: 9px;
}

.final__item::before {
  content: "\2014";
  margin-right: 6px;
}

.final__item:last-child {
  margin-bottom: 0;
}

.final__discription {
  margin-bottom: 0;
}