.title {
  font-style: normal;
  font-size: 36px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 30px;
}

.discription,
.text-img {
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}

.italic {
  font-style: italic;
}

.img {
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}


/* margins */

.margins {
  padding-bottom: 50px;
}

.margins-intro {
  padding-top: 60px;
}

.margins-intro__title {
  font-size: 60px;
}

/* content */

.content__title {
  font-size: 44px;
  font-weight: bold;
}

.content-box {
  background-color: #F1F1F1;
  margin: 0 -30px;
  padding: 25px 45px;
  border-radius: 10px;
}

.menu__list {
  color: #02535F;
  list-style: decimal;
  padding-left: 23px;
}

.menu__link {
  border-bottom: 1px solid black;
}


/* set */

.clearfix:not(:last-child) {
  margin-bottom: 50px;
}

.set__img {
  margin-bottom: 0;
}

.set__img_left {
  float: left;
  margin-right: 30px;
}

.set__img_right {
  float: right;
  margin-left: 40px;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.set__discription1:first-child {
margin-bottom: 0;
}


/* last-element */

.last-element__text-img {
  color: #5E5E5E;
  padding: 15px 30px;
  border-width: 1px;
  border-color: black;
  border-style: none solid solid;
  margin-bottom: 30px;
}

.last-element__img {
  border-top: 1px solid black;
  margin-bottom: 0;
}

/* .final */

.final__title {
  font-size: 44px;
  font-weight: bold;
}

.final {
  background-color: #F1F1F1;
  border-radius: 10px;
  margin: 0 -30px;
  padding: 25px 30px 22px 30px;
}

.final__list {
  margin-bottom: 30px;
}

.final__item {
  color: black;
  margin-bottom: 9px;
}

.final__item::before {
  content: "\2014";
  margin-right: 6px;
}

.final__item:last-child {
  margin-bottom: 0;
}